In [3]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

In [2]:
dataset=[['ABC','DEF','GHI'],['ABC','DEF','JKL'],['ABC','JKL'],['DEF','JKL'],['ABC'],['HIJ','MNP']]

In [4]:
te=TransactionEncoder()
te_ary=te.fit(dataset).transform(dataset)
df=pd.DataFrame(te_ary,columns=te.columns_)
frequent_itemsets=apriori(df,min_support=0.2,use_colnames=True)
frequent_itemsets

    support    itemsets
0  0.666667       (ABC)
1  0.500000       (DEF)
2  0.500000       (JKL)
3  0.333333  (ABC, DEF)
4  0.333333  (ABC, JKL)
5  0.333333  (DEF, JKL)

In [5]:
from mlxtend.frequent_patterns import association_rules
rules=association_rules(frequent_itemsets,metric='confidence',min_threshold=0.4)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(ABC),(DEF),0.666667,0.500000,0.333333,0.500000,1.000000,0.000000,1.0
1,(DEF),(ABC),0.500000,0.666667,0.333333,0.666667,1.000000,0.000000,1.0
2,(ABC),(JKL),0.666667,0.500000,0.333333,0.500000,1.000000,0.000000,1.0
3,(JKL),(ABC),0.500000,0.666667,0.333333,0.666667,1.000000,0.000000,1.0
4,(DEF),(JKL),0.500000,0.500000,0.333333,0.666667,1.333333,0.083333,1.5
5,(JKL),(DEF),0.500000,0.500000,0.333333,0.666667,1.333333,0.083333,1.5

In [6]:
rules=association_rules(frequent_itemsets,metric='lift',min_threshold=1.2)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(DEF),(JKL),0.5,0.5,0.333333,0.666667,1.333333,0.083333,1.5
1,(JKL),(DEF),0.5,0.5,0.333333,0.666667,1.333333,0.083333,1.5